body {
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
h1 { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #50735f;
    text-align: left;
    font-size: 38px;
    }
 div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: #91234b; 
       width: 100%; 
     }
     div#banner-content { 
       width: 800px; 
       margin: 0 auto; 
       padding: 10px;
        text-align: center;
        
     }
     div#main-content { 
       padding-top: 70px;
    }
a {
    color: #FFFFFF;
    text-decoration: none;
    }
