body {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #5c5957;
    margin: 96px;
    padding: 0;
    color: #ffffff; /* Set font color to white */
}

.body a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    background-color: #5c5957;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff; /* Set font color to white */
    text-align: right;
    padding: 10px;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

h1, h2, h4 {
    text-align: center;
    color: #ffffff; /* Set font color to white */
}

h1 {
    font-size: 40px; /* Increase title (h1) font size */
}

img, iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

