body {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #5c5957;
    margin: 96px;
    padding: 0;
    color: #ffffff;
}

.header {
    background-color: #5c5957;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff; 
    text-align: center;
    padding: 10px;
    position: absolute;
}

.header a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

h1, h2, h4 {
    text-align: center;
    color: #ffffff; 
}

h1 {
    text-align: center;
}

img, iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

#home {
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}

#purpose {
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}

#music {
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}

.footer {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
